@page "/login"
<h3>LoginPage</h3>

@code {
    [CascadingParameter]
    public HttpContext httpConectext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authProperties = new AuthenticationProperties()
            {
                RedirectUri = "after-login"
            };

        var result = TypedResults.Challenge(authProperties, [GoogleDefaults.AuthenticationScheme]);
        await result.ExecuteAsync(httpConectext);
    }

}
